The objective for Data Analysis: I will be assuming the role of a data analyst in an e-commerce company that operates overall multiple regions with multiple product skews. The goal of this data analysis is to understand more about the sales performance of various products.
The data analysis will take three steps:
Step 1: Cleaning the data.
	This will involve removing missing values and outliers.
Step 2: Transforming the data.
	This will involve adding new columns and modifying data to make it easier for analysis.
Step 3: Analyzing the data.
	This will involve analyzing the data at an overall VP level and analyzing the data at a regional sales manager level.
Each step will have its own description before it starts. Furthermore, each line of code will be annotated to explain its purpose. Also any assumptions that are made will be stated.

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import math
import scipy.stats

The above line of code is necessary to import pandas, seaborn, numpy, matplotlib, math, and scipy numpy which are the packages required for this analysis.

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/ajkam/schulich_data_science/main/Assignments/sales_data%20(1)%20-%20Copy.csv")

The above line of code is used to read the excel file store on github and store into a dataframe titled 'df'.

In [ ]:
df

print the dataframe

In [ ]:
df.info()

display info on the dataframe

In [ ]:
df.describe(include='all')

describe some statistics regarding the datrame

Step 1: Cleaning the data.

The data analysis will help the sales managers and sales VP come up with an efficient strategy for the 2025 sales year. Before coming up with those questions to answer, visualizing observations, and recommending actions, I will start by cleaning the dataset. 

The idea of cleaning this dataset is to ensure that someone coming into this code for the first time will be able to understand precisely what variables I removed and why I did so. I would also like the guarantee that if they need to make modifications to my analysis due to new information on values or rerun the same analysis for themselves, they will have the means to do so within the code.

The issue of tackling missing data will be solved by deciding to replace and fill in the values.
If the missing data is numerical then the data should be filled with an appropriate value-based central limit theory. This is because it will not affect the spread of the data. 

If the missing data is categorical, then the data should be removed for the purpose of the analysis. This is because filling these values with an appropriate value based on the central limit theory would affect the spread of data.

The next part would be to take care of outliers. To identify if there are outliers histograms, boxplots, and scatterplots will be used to determine if the data has outliers. Then based on central limit theory they will be removed from the analysis.

In [ ]:
column_dict = {'Product':'product_sku', 'Region':'region','Price':'price_per_unit', 
               'Units Sold':'units_sold','Sale Date':'sale_date' }
df= df.rename(columns=column_dict)
df

Create a list of  the old column headings and new easier to work with headings
use the rename function to replace the column headings. Note that an assumption was made that the Price column represented price per unit.

In [ ]:
df.isna().sum()

Use the isna function to check if their any missing values in each column and sum the total number of missing values.

In [ ]:
print(df.isna().any())

Use the boolean function .any to check if the dataframe columns has any missing values so its easy to compare with down the line.

In [ ]:
print(df.isnull())

Print the data set with the boolean function isnull to see true and false for where data is missing.

In [ ]:
sns.histplot(df['units_sold'])

Create a histogram for the units_sold column to see how it is distributed. Based on the output it seems that is normally distributed with no skewness.

In [ ]:
data =df['units_sold']

Create a temporary dataframe called data with the units sold column to check kurtosis and skewness.

In [ ]:
print("Kurtosis (scipy): ", scipy.stats.kurtosis(data, fisher=True))

Use the scipy.stats.kurtosis to check the kurtosis value.
Since it is positive yet very close to zero the data is very slightly peaked.

In [ ]:
def skewness(data):
    n = len(data)
    mean = sum(data) / n
    variance = sum((x - mean) ** 2 for x in data) / n
    std_dev = math.sqrt(variance)
    
    skewness = sum((x - mean) ** 3 for x in data) / (n * std_dev ** 3)
    return skewness

Create a formula using the length of the data, the mean of the data divided by length, the variance which is calculated by getting the total sum of squares, and then the standard deviation which is the square root of variance.

The calculate the skewneness which is sum each datapoint subratec the mean cubed divied by the standard deviation.

In [ ]:
print(skewness(data))

Based on the above return the skewness. Since the skew is between -0.5 and 0.5 that data is not skewed positively or negatively.

In [ ]:
units_sold_mean = df['units_sold'].mean()

Since it is normally distriubted with no skewness I have determined the best approach is to fill the missing data with the mean. So this function uses the .mean() function to get the mean of units sold and store the value in units_sold_mean.

In [ ]:
df['units_sold'].fillna(value=units_sold_mean, inplace= True)

This uses the fillna function to replace empty values in units_sold with the units_sold_mean value. The inplace argument is left as True so the change is permanent.

In [ ]:
sns.histplot(df['units_sold'])

We dispaly the histogram again to view the change as a new column that is over a count of 200 is a direct result of filling in the missing values we saw earlier.

In [ ]:
df.describe(include='all')

We run the describe function to check if the mean has changed and it has not.

In [ ]:
sns.histplot(df['price_per_unit'])

Create a histogram for the price_per_unit column to see how it is distributed. Based on the output it seems that the data skewed to the left.

In [ ]:
data2 =df['price_per_unit']

Create a temporary dataframe called data2 with the price_per_unit column to check kurtosis and skewness.

In [ ]:
print("Kurtosis (scipy): ", scipy.stats.kurtosis(data2, fisher=True))

Use the scipy.stats.kurtosis to check the kurtosis value.
Since it is positive and greater than 3 this indicates a leptokurtic distriubtion. This means the data has very thick tails, with a high concentration of data around the tails, and there is a high chance of outliers. This means we should be careful when removing outliers.

In [ ]:
def skewness(data2):
    n = len(data2)
    mean = sum(data2) / n
    variance = sum((x - mean) ** 2 for x in data2) / n
    std_dev = math.sqrt(variance)
    
    skewness = sum((x - mean) ** 3 for x in data2) / (n * std_dev ** 3)
    return skewness

Create a formula using the length of the data, the mean of the data divided by length, the variance which is calculated by getting the total sum of squares, and then the standard deviation which is the square root of variance.

The calculate the skewneness which is sum each datapoint subratec the mean cubed divied by the standard deviation.

In [ ]:
print(skewness(data2))

Based on the above return the skewness. Since the skew is greater than 1 the data is extremely positivley skewed. This means that there is a huge tail on the right hand side of the data.

In [ ]:
price_per_unit_median = df['price_per_unit'].median()

Since there the data is extremely positively skewed I have determined the best approach is to fill the missing data with the median. So this function uses the .median() function to get the median of price_per_unit and store the value in price_per_unit_median

In [ ]:
df['price_per_unit'].fillna(value=price_per_unit_median, inplace= True)

This uses the fillna function to replace empty values in price_per_unit with the price_per_unit_median value. The inplace argument is left as True so the change is permanent.

In [ ]:
sns.histplot(df['price_per_unit'])

We dispaly the histogram again to view the change as a large column that is over a count of 175 that is a direct result of filling in the missing values we saw earlier.

In [ ]:
df.describe(include='all')

We run the describe function to check if the mean has changed and it has but only 3 units of the currency the price is in.

In [ ]:
df.drop_duplicates(inplace=True)

We use the drop_duplicates value to see drop any values that are the exact same. This is to account for any entry error.

In [ ]:
print(df.isna().any())

We print to ensure the values we just filled are in the dataset. Since price_per_unit and units_sold return false they have been filled.

In [ ]:
df_storage = df['product_sku'].fillna("sku_undefined")
df_storage = df['region'].fillna("region_missing")

This code fills the missing product_sku and missing region with text values and stores them in a dataset in df_storage. This is so if someone from the internal side of the company can look in the code fill in those missing variables and re run the dataset they can do it within the code. They would not have to input the values into the excel stored on github as they could enter them directly into df_storage.

In [ ]:
print(df.isna().any())

This code checks to ensure that product_sku and regions are still missing values in 'df'. This is because we do not believe they are unusable for the analysis detailed at the beginning due to the missing values.

In [ ]:
print(df_storage.isna().any())

This code checks that dataframe storage has no missing values.

In [ ]:
df.dropna(inplace=True)

This code then drops the missing values in product_sku and region.

In [ ]:
df

We print the dataframe again cause we have not seen it in awhile just to check.

In [ ]:
print(df.isna().any())

This code checks that dataframe 'df' has no missing values.

In [ ]:
df.info()

We print some basic info that mainly shows us that we are now at 810 entries from the initial 1050. This means we have cleared about 240 entries from the data.

In [ ]:
df.describe(include='all')

We print some statistics and see that our mean for both units_sold and price_per_unit have changed slightly.

In [ ]:
sns.histplot(df['price_per_unit'])

We noticed above that their was an outlier in the histogram and now we are going to treat it.

In [ ]:
df[df['price_per_unit']>2000]

We isolate for any indexes above 2000 and we find index 969.

In [ ]:
df.drop(969, axis=0, inplace=True)

We drop index 969 from the dataplace permanently with the drop function and inplace = True.

In [ ]:
sns.histplot(df['price_per_unit'])

We print our new histogram to see that we have removed the outlier.

In [ ]:
sns.histplot(df['units_sold'])

We repeat the same process with units_sold to check for outliers.

In [ ]:
df[df['units_sold']>20]

We isolate for indexes above 20 and find index 719.

In [ ]:
df.drop(719, axis=0, inplace=True)

We drop index 969 from the dataplace permanently with the drop function and inplace = True.

In [ ]:
sns.histplot(df['units_sold'])

We print our new histogram to see that we have removed the outlier.

In [ ]:
sns.boxplot(data = df, x = 'price_per_unit')

We print a boxplot to check if their are any more outliers in the data. We come across a lot of data being greater than 300 which approximatley the upper extreme of the whisker.

In [ ]:
df[df['price_per_unit']>300]

We isolate those under 300 and determine there are a lot of indices above 300 and decide to come back to analyze it further using a different plot.

In [ ]:
sns.boxplot(data = df, x = 'units_sold')

We create a boxplot of the units_sold which presents a more reasonable boxplot since it is normally distributed.

In [ ]:
df[df['units_sold']>18]

We isolate for units above the upper extreme and find some indices.

In [ ]:
df.drop(df[df['units_sold']>18].index, axis=0, inplace=True)

We decide to use the drop function to permanently drop all indices that met the boolean of being greater than 18 using inpalce=True to make it permanent.

In [ ]:
sns.boxplot(data = df, x = 'units_sold')

We remake the boxplot to show no more outliers.

In [ ]:
sns.scatterplot(data=df, x='units_sold',y='price_per_unit')

We create a scatterplot to see if we can further find outliers in price_per_unit or if the boxplot was just misdjuding due the data being skewed to the left.

In [ ]:
sns.lmplot(data=df, x='price_per_unit',y='units_sold', fit_reg=True)

We create a scatterplot with a line of best and a different orientation to see if we can further enhance the findings from the scatterplot.

In [ ]:
df[df['price_per_unit']>550]

Based on the two scatterplots and the boxplot there seems to be a cluster data from 300 to 550. However past 550 there are only a few datapoints. Therefore the conclusion is to isolate for indices greater than 550.

In [ ]:
df.drop(df[df['price_per_unit']>550].index, axis=0, inplace=True)

This conclusion seems much more reasonable than the number of outliers concluded from the sole analysis of the boxplot. Therefore we will use the drop function to permanaently drop any index above 550 using inplace=True to ensure it is permanent.

In [ ]:
sns.lmplot(data=df, x='price_per_unit',y='units_sold', fit_reg=True)

We reprint scatter plot with line of best fit to ensure the data looks good.

In [ ]:
df.info()

We run the info function to determine that we now have 799 entries. This means we have cleaned about 11 entries from the 810. In total we have cleaned 11+240=251 entries from the orignal data set of 1050 entries.

In [ ]:
df.describe(include='all')

Now that we have removed our outliers we can see that the units_sold mean has marginally changed from the initial 10.04 to 10.03. While the price_per_unit mean slightly decreased from the initial 107.59 to 98.03. We make a careful note that this was due to removing & filling missing data, dropping duplicates, removing outliers.

Step 2 and 3:
I will transform the data based on the following questions I want to answer. Then I will use the data to visualize the observations. These observations will take two categories. Firstly, the data of summary statistics will be organized and visualized to figure out the big-picture decisions on a department-wide and regional sales level. Secondly, specific product-by-region recommendations will be made according to the recommendation matrix to find the specific fixes for the sales performance of products on department-wide and regional sales levels.

In [ ]:
print(df['product_sku'].unique())

Firstly I want to prepare the data so that the labels are shorter and taht they can be sorted numerically so I am going to print a unique list of product_sku.

In [ ]:

df = df.replace(['Product_46', 'Product_36', 'Product_17', 'Product_45', 'Product_31',
 'Product_18', 'Product_16', 'Product_9', 'Product_20', 'Product_1',
 'Product_2', 'Product_3', 'Product_43', 'Product_33', 'Product_14',
 'Product_50', 'Product_6', 'Product_13', 'Product_11', 'Product_27',
 'Product_28', 'Product_24', 'Product_34', 'Product_25', 'Product_4',
 'Product_48', 'Product_10', 'Product_49', 'Product_12', 'Product_42',
 'Product_5', 'Product_26', 'Product_8', 'Product_37', 'Product_22',
 'Product_32', 'Product_23', 'Product_35', 'Product_15', 'Product_29',
 'Product_44', 'Product_47', 'Product_41', 'Product_39', 'Product_30',
 'Product_40', 'Product_21', 'Product_38', 'Product_19', 'Product_7'], [46, 36, 17, 45, 31,
 18, 16, 9, 20, 1,
 2, 3, 43, 33, 14,
 50, 6, 13, 11, 27,
 28, 24, 34, 25, 4,
 48, 10, 49, 12, 42,
 5, 26, 8, 37, 22,
 32, 23, 35, 15, 29,
 44, 47, 41, 39, 30,
 40, 21, 38, 19, 7]
)

df

Then I am going to replace the string Product_#X with the integer #X.

In [ ]:
df.sort_values(by=['product_sku'], ascending=True,inplace=True)
df

Then I am going to sort by product_sku.

In [ ]:
print(df['region'].unique())

I am going to do the same with the labels for Region starting printing a list of unique values.

In [ ]:
df = df.replace(['Region_3', 'Region_1', 'Region_6', 'Region_7', 'Region_9', 'Region_2',
 'Region_4', 'Region_5', 'Region_8', 'Region_10'], [3, 1, 6, 7, 9, 2,
 4, 5, 8, 10] 
)
df

I am replacing the string Region_#X with the integer #X.

In [ ]:
df.sort_values(by=['region'], ascending=True,inplace=True)
df

Then I am going to sort by region.

In [ ]:
columns_titles = ["region","product_sku","price_per_unit","units_sold","sale_date"]
df=df.reindex(columns=columns_titles)
df

I decided that for my analysis it would better to have region first so I reindexed the columns accordingly.

In [ ]:
print(df.groupby('product_sku')['units_sold'].mean())

In [216]:
df['year_sold'] = pd.DatetimeIndex(df['sale_date']).year
df['month_sold'] = pd.DatetimeIndex(df['sale_date']).month
df['quarter_sold'] = pd.PeriodIndex(df.sale_date, freq='Q')
df['sales_revenue'] = df['units_sold'] * df['price_per_unit']
df['CW_units_sold'] = df.groupby('product_sku')['units_sold'].transform('mean')
df['CW_price_per_unit'] = df.groupby('product_sku')['price_per_unit'].transform('mean')
df['CW_sales_revenue'] = df.groupby('product_sku')['sales_revenue'].transform('mean')
df['Dif_sales_revenue'] = (df['sales_revenue']- df['CW_sales_revenue'])/df['CW_sales_revenue']
df['Dif_price_per_unit'] = (df['price_per_unit']- df['CW_price_per_unit'])/df['CW_price_per_unit']
df['Dif_units_sold'] = (df['units_sold']- df['CW_units_sold'])/df['CW_units_sold']



def conditions(df):    
    if df['Dif_sales_revenue'] > 0: matrix = "High"
    elif df['Dif_sales_revenue'] == 0:     matrix = "Avg"
    elif df['Dif_sales_revenue'] < 0:     matrix = "Low"
    else: matrix = "ERR"
        
    return matrix

df['mtr_sales_revenue'] = df.apply(conditions, axis=1)


def conditions1(df):    
    if df['Dif_price_per_unit'] > 0: matrix = "High"
    elif df['Dif_price_per_unit'] == 0:     matrix = "Avg"
    elif df['Dif_price_per_unit'] < 0:     matrix = "Low"
    else: matrix = "ERR"
        
    return matrix

df['mtr_price_per_unit'] = df.apply(conditions1, axis=1)

def conditions2(df):    
    if df['Dif_units_sold'] > 0: matrix = "High"
    elif df['Dif_units_sold'] == 0:     matrix = "Avg"
    elif df['Dif_units_sold'] < 0:     matrix = "Low"
    else: matrix = "ERR"
        
    return matrix

df['mtr_units_sold'] = df.apply(conditions2, axis=1)



df

,region,product_sku,price_per_unit,units_sold,sale_date,year_sold,month_sold,quarter_sold,sales_revenue,CW_units_sold,CW_price_per_unit,CW_sales_revenue,Dif_sales_revenue,Dif_price_per_unit,Dif_units_sold,mtr_sales_revenue,mtr_price_per_unit,mtr_units_sold
758,1,22,78.13,12.0,2024-01-29,2024,1,2024Q1,937.56,9.224706,109.221429,1032.719496,-0.092145,-0.284664,0.300855,Low,Low,High
295,1,13,17.00,16.0,2022-10-23,2022,10,2022Q4,272.00,10.178141,90.996087,820.796576,-0.668615,-0.813179,0.571996,Low,Low,High
3,1,36,12.77,10.0,2022-01-04,2022,1,2022Q1,127.70,9.008104,82.728333,816.042056,-0.843513,-0.845639,0.110111,Low,Low,High
113,1,13,56.04,10.0,2022-04-24,2022,4,2022Q2,560.40,10.178141,90.996087,820.796576,-0.317249,-0.384149,-0.017502,Low,Low,Low
713,1,5,26.20,9.0,2023-12-15,2023,12,2023Q4,235.80,8.899695,73.858148,614.888196,-0.616516,-0.645266,0.011271,Low,Low,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,10,31,143.74,11.0,2022-09-06,2022,9,2022Q3,1581.14,10.000000,119.125500,1204.174500,0.313049,0.206627,0.100000,High,High,High
440,10,44,102.84,13.0,2023-03-17,2023,3,2023Q1,1336.92,9.619215,92.478333,847.491646,0.577502,0.112044,0.351462,High,High,High
793,10,43,71.78,13.0,2024-03-04,2024,3,2024Q1,933.14,10.478506,66.860952,679.324396,0.373629,0.073571,0.240635,High,High,High
351,10,14,133.35,14.0,2022-12-18,2022,12,2022Q4,1866.90,10.721232,130.055714,1498.127976,0.246155,0.025330,0.305820,High,High,High
862,10,50,60.19,13.0,2024-05-12,2024,5,2024Q2,782.47,10.954863,109.572000,1195.173263,-0.345308,-0.450681,0.186688,Low,Low,High

The above columns will help me answer my questions in the big picture statistical summary and the detailed product by region recommendation.
The year_sold, month_sold, quarter_sold will help me output summary statistics grouped by a certain time period (year, month, and season/quarter).
The columns with the prefix CW are the company-wide averages of units_sold, price_per_unit, and sales_revenue.
The columns with the prefix Dif are the differential statistics based on much greater or less the units_sold, price_per_unit, and sales_revenue are to the CW versions in decimals.
The columns with the prefix mtr are the boolean operators to determine which scenario each sale falls into based on units_sold, sales_revenue, and price_per_unit. To create these columns I created a variable called conditions. Then I stated one condition if the differential is greater than zero to return the value "High", if equal to zero then return the value "Avg", and if less than zero to return the value "low" in the next condition. as specified in the matrix table attached.

In [ ]:
p = df.pivot_table(index='product_sku', columns='region', values=['units_sold'])
p

In [ ]:
p.iloc[:,4].isna()

In [ ]:
p2 = df[(df.region == 'R3')].pivot_table(index=['region', 'product_sku'], values=['units_sold', 'price_per_unit'],
                                 aggfunc=np.mean)
p2

In [ ]:
p3 = df[(df.region == 'R3')].pivot_table(index='product_sku', columns='region', 
                                               values='sales_revenue')
p3

In [ ]:
t= sns.barplot(data = p3, x= 'product_sku')
t.set_xlabel("X Label",fontsize=2)
t.tick_params(labelsize=5)