Objective for Data Analysis: I will be assuming the role of a data analyst in an ecommerce company that operates overall multiple regions with multiple products skews. The goal for this data analysis is to understand more about the sales performance of various products.

I will hope to analyze the sales performance on two levels. Firstly the VP of sales level and secondly the regional sales manager level. I am assuming that there is a VP of sales that oversees the sales of all regions and then regional sales managers that are responsible for the performance a particular region. This hierachal breakdown is typical in most sales department and as a result the data analysis will focus on answering different questions for each department.

For the VP of sales I plan to answer to following questions by extracting observations and the providing recommendations for the business:

Firstly I want to garner information regarding: Which regions are performing well and not well? 
This will lead to recommendations which regions need more sales training because of poor performance and which regions need to be rewarded because they are performing well. As a good VP of sales should use incentives and resources to help motivate their employees.

Secondly I want to garner infomation regarding: Which products are selling well and not well on a unit basis vs a price basis? 

This will lead to recommendations on to which products should be made available in more regions because they have a higher sales revenue and which products should be removed from regions or discontinued because they are lower sales revenue.

Thirdly I want to ensure the first two observations are mutually exclusive and collectively exhaustive. I will do this by diving deeper into the analysis by answering the following four questions:

Of the regions not performing well are they just doing poorly or are they only selling low-performing products?

Of the regions performing well, are they doing well or are they only selling high-performing products?

Of the products not performing well are they just doing poorly or are they only selling low-performing regions?

Of the products performing well are they just doing well or are they only selling high-performing regions?

Note that all this inofrmation will observed over time of the three years of data included from 2022 to 2024 to observe trends in sales performance from products and regions over time.

This will allow the VP of sales be more specific in the recommendations for products and regions by truly isolating the factors that contriubting to higher sales performance.

For the managers I aim to answer the following questions by providing insights into the specific performance of their region and provide recommendations on how to improve their performance.

Firstly taking from the VP of Sales Analysis I will answer the question: Where do I rank in comparison to my peers regarding overall sales performance over time?

This will provide them an accurate information for when and for which products their sales strategy is succeeding.

Secondly to follow up on the previous observations I can answer the following questions to become more granular:

Which products are doing well in my region versus other people’s regions? 
Which products are doing worse in my region versus other people’s regions?

This will allow them to understand what regional sales manager they need to consult in order to improve the sales strategy for different products. This will also allow them to rate how effective their successful sales strategies really are.

Thirdly I will firmly answer based on sales performance: What products should I start selling in my region and what products should I stop selling?

Although this might be answered in the other questions it is still good to plot it out for each manager.

The above analysis will help the sales managers and sales VP come up with an efficient strategy for the 2025 sales year. Before I can begin answering those questions, visualizing observations, and recommending actions I will begin by cleaning the dataset. The idea with cleaning this dataset is to ensure that someone coming into this code for the first time will be able to understand exactly what I did. I would also like the ensure that if they need to make modifications to my analysis due to new information on values or rerun the same analysis for themselves they will have the means to do so.

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np

The above line of code is necessary to import pandas, seaborn, and numpy which are the packages required for this analysis.

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/ajkam/schulich_data_science/main/Assignments/sales_data%20(1)%20-%20Copy.csv")

The above line of code is used to read the excel file store on github and store into a dataframe titled 'df'.

In [ ]:
df

print the dataframe

In [ ]:
df.info()

display info on the dataframe

In [ ]:
df.describe(include='all')

describe some statistics regarding the datrame

Note that an assumption was made that the Price column represented price per unit

In [ ]:
column_dict = {'Product':'product_sku', 'Region':'region','Price':'price_per_unit', 
               'Units Sold':'units_sold','Sale Date':'sale_date' }
df= df.rename(columns=column_dict)
df

create a list of  the old column headings and new easier to work with headings
use the rename function to replace the column headings

In [ ]:
df.isna().sum()

Use the isna function to check if their any missing values in each column and sum the total number of missing values

In [ ]:
print(df.isna().any())

use the boolean function .any to check if the dataframe columns has any missing values so its easy to compare with down the line

In [ ]:
print(df.isnull())

Print the data set with the boolean function isnull to see true and false for where data is missing

In [ ]:
sns.histplot(df['units_sold'])

Create a histogram for the units_sold column to see how it is distributed. Based on the output it seems that is normally distributed with no skewness.

In [ ]:
units_sold_mean = df['units_sold'].mean()

Since it is normally distriubted with no skewness I have determined the best approach is to fill the missing data with the mean. So this function uses the .mean() function to get the mean of units sold and store the value in units_sold_mean.

In [ ]:
df['units_sold'].fillna(value=units_sold_mean, inplace= True)

This uses the fillna function to replace empty values in units_sold with the units_sold_mean value. The inplace argument is left as True so the change is permanent.

In [ ]:
sns.histplot(df['units_sold'])

We dispaly the histogram again to view the change as a new column that is over a count of 200 is a direct result of filling in the missing values we saw earlier.

In [ ]:
df.describe(include='all')

We run the describe function to check if the mean has changed and it has not.

In [ ]:
sns.histplot(df['price_per_unit'])

Create a histogram for the price_per_unit column to see how it is distributed. Based on the output it seems that the data skewed to the left.

In [ ]:
price_per_unit_median = df['price_per_unit'].median()

Since there is skewness to the left I have determined the best approach is to fill the missing data with the median. So this function uses the .median() function to get the median of price_per_unit and store the value in price_per_unit_median

In [ ]:
df['price_per_unit'].fillna(value=price_per_unit_median, inplace= True)

This uses the fillna function to replace empty values in price_per_unit with the price_per_unit_median value. The inplace argument is left as True so the change is permanent.

In [ ]:
sns.histplot(df['price_per_unit'])

We dispaly the histogram again to view the change as a large column that is over a count of 175 that is a direct result of filling in the missing values we saw earlier.

In [ ]:
df.describe(include='all')

We run the describe function to check if the mean has changed and it has but only 3 units of the currency the price is in.

In [ ]:
df.drop_duplicates(inplace=True)

We use the drop_duplicates value to see drop any values that are the exact same. This is to account for any entry error.

In [ ]:
print(df.isna().any())

We print to ensure the values we just filled are in the dataset. Since price_per_unit and units_sold return false they have been filled.

In [ ]:
df_storage = df['product_sku'].fillna("sku_undefined")
df_storage = df['region'].fillna("region_missing")

This code fills the missing product_sku and missing region with text values and stores them in a dataset in df_storage. This is so if someone from the internal side of the company can look in the code fill in those missing variables and re run the dataset they can do it within the code. They would not have to input the values into the excel stored on github as they could enter them directly into df_storage.

In [ ]:
print(df.isna().any())

This code checks to ensure that product_sku and regions are still missing values in 'df'. This is because we do not believe they are unusable for the analysis detailed at the beginning due to the missing values.

In [ ]:
print(df_storage.isna().any())

This code checks that dataframe storage has no missing values.

In [ ]:
df.dropna(inplace=True)

This code then drops the missing values in product_sku and region.

In [ ]:
df

We print the dataframe again cause we have not seen it in awhile just to check.

In [ ]:
print(df.isna().any())

This code checks that dataframe 'df' has no missing values.

In [ ]:
df.info()

We print some basic info that mainly shows us that we are now at 810 entries from the initial 1050. This means we have cleared about 240 entries from the data.

In [ ]:
df.describe(include='all')

We print some statistics and see that our mean for both units_sold and price_per_unit have changed slightly.

In [ ]:
sns.histplot(df['price_per_unit'])

We noticed above that their was an outlier in the histogram and now we are going to treat it.

In [ ]:
df[df['price_per_unit']>2000]

We isolate for any indexes above 2000 and we find index 969.

In [ ]:
df.drop(969, axis=0, inplace=True)

We drop index 969 from the dataplace permanently with the drop function and inplace = True.

In [ ]:
sns.histplot(df['price_per_unit'])

We print our new histogram to see that we have removed the outlier.

In [ ]:
sns.histplot(df['units_sold'])

We repeat the same process with units_sold to check for outliers.

In [ ]:
df[df['units_sold']>20]

We isolate for indexes above 20 and find index 719.

In [ ]:
df.drop(719, axis=0, inplace=True)

We drop index 969 from the dataplace permanently with the drop function and inplace = True.

In [ ]:
sns.histplot(df['units_sold'])

We print our new histogram to see that we have removed the outlier.

In [ ]:
sns.boxplot(data = df, x = 'price_per_unit')

We print a boxplot to check if their are any more outliers in the data. We come across a lot of data being greater than 300 which approximatley the upper extreme of the whisker.

In [ ]:
df[df['price_per_unit']>300]

We isolate those under 300 and determine there are a lot of indices above 300 and decide to come back to it using a different plot.

In [ ]:
sns.boxplot(data = df, x = 'units_sold')

We create a boxplot of the units_sold which presents a more reasonable boxplot since it is normally distributed.

In [ ]:
df[df['units_sold']>18]

We isolate for units above the upper extreme and find some indexes.

In [ ]:
df.drop(df[df['units_sold']>18].index, axis=0, inplace=True)

We decide to use the drop function to permanently drop all indices that met the boolean of being greater than 18 using inpalce=True to make it permanent.

In [ ]:
sns.boxplot(data = df, x = 'units_sold')

We remake the boxplot to show no more outliers

In [ ]:
sns.scatterplot(data=df, x='units_sold',y='price_per_unit')

We create a scatterplot to see if we can further find outliers in price_per_unit or if the boxplot was just misdjuding due the data being skewed to the left.

In [ ]:
sns.lmplot(data=df, x='price_per_unit',y='units_sold', fit_reg=True)

We create a scatterplot with a line of best and a different orientation to see if we can further enhance the findings from the scatterplot.

In [ ]:
df[df['price_per_unit']>550]

Based on the two scatterplots and the boxplot there seems to be a cluster data from 300 to 550. However past 550 there are only a few datapoints. Therefore the conclusion is to isolate for indices greater than 550.

In [ ]:
df.drop(df[df['price_per_unit']>550].index, axis=0, inplace=True)

This conclusion seems much more reasonable than the number of outliers concluded from the sole analysis of the boxplot. Therefore we will use the drop function to permanaently drop any index above 550 using inplace=True to ensure it is permanent.

In [ ]:
df.describe(include='all')

Now that we have removed our outliers we can see that the units_sold mean has marginally changed from the initial 10.04 to 10.03. While the price_per_unit mean slightly decreased from the initial 107.59 to 98.03. We make a careful note that this was due to removing & filling missing data, dropping duplicates, removing outliers.

In [ ]:
sns.lmplot(data=df, x='price_per_unit',y='units_sold', fit_reg=True)

We reprint scatter plot with line of best fit to ensure the data looks good.

In [ ]:
print(df['product_sku'].unique())

In [ ]:

df = df.replace(['Product_46', 'Product_36', 'Product_17', 'Product_45', 'Product_31',
 'Product_18', 'Product_16', 'Product_9', 'Product_20', 'Product_1',
 'Product_2', 'Product_3', 'Product_43', 'Product_33', 'Product_14',
 'Product_50', 'Product_6', 'Product_13', 'Product_11', 'Product_27',
 'Product_28', 'Product_24', 'Product_34', 'Product_25', 'Product_4',
 'Product_48', 'Product_10', 'Product_49', 'Product_12', 'Product_42',
 'Product_5', 'Product_26', 'Product_8', 'Product_37', 'Product_22',
 'Product_32', 'Product_23', 'Product_35', 'Product_15', 'Product_29',
 'Product_44', 'Product_47', 'Product_41', 'Product_39', 'Product_30',
 'Product_40', 'Product_21', 'Product_38', 'Product_19', 'Product_7'], ['P_46', 'P_36', 'P_17', 'P_45', 'P_31',
 'P_18', 'P_16', 'P_9', 'P_20', 'P_1',
 'P_2', 'P_3', 'P_43', 'P_33', 'P_14',
 'P_50', 'P_6', 'P_13', 'P_11', 'P_27',
 'P_28', 'P_24', 'P_34', 'P_25', 'P_4',
 'P_48', 'P_10', 'P_49', 'P_12', 'P_42',
 'P_5', 'P_26', 'P_8', 'P_37', 'P_22',
 'P_32', 'P_23', 'P_35', 'P_15', 'P_29',
 'P_44', 'P_47', 'P_41', 'P_39', 'P_30',
 'P_40', 'P_21', 'P_38', 'P_19', 'P_7'])

df

In [535]:
print(df['region'].unique())

['Region_3' 'Region_1' 'Region_6' 'Region_7' 'Region_9' 'Region_2'
 'Region_4' 'Region_5' 'Region_8' 'Region_10']

In [ ]:
df = df.replace(['Region_3' 'Region_1' 'Region_6' 'Region_7' 'Region_9' 'Region_2'
 'Region_4' 'Region_5' 'Region_8' 'Region_10'], ['R_3' 'R_1' 'R_6' 'R_7' 'R_9' 'R_2'
 'R_4' 'R_5' 'R_8' 'R_10'])
df

In [536]:
df['year_sold'] = pd.DatetimeIndex(df['sale_date']).year
df['month_sold'] = pd.DatetimeIndex(df['sale_date']).month
df['sales_revenue'] = df['units_sold'] * df['price_per_unit']
df['quarter_sold'] = pd.PeriodIndex(df.sale_date, freq='Q')
df

,product_sku,region,price_per_unit,units_sold,sale_date,year_sold,sales_revenue,month_sold,quarter_sold
2,P_46,Region_3,20.43,12.000000,2022-01-03,2022,245.160000,1,2022Q1
3,P_36,Region_1,12.77,10.000000,2022-01-04,2022,127.700000,1,2022Q1
4,P_17,Region_6,125.69,6.000000,2022-01-05,2022,754.140000,1,2022Q1
5,P_45,Region_1,8.63,11.000000,2022-01-06,2022,94.930000,1,2022Q1
6,P_31,Region_3,23.73,6.000000,2022-01-07,2022,142.380000,1,2022Q1
...,...,...,...,...,...,...,...,...,...
988,P_42,Region_9,240.97,10.048626,2024-09-15,2024,2421.417357,9,2024Q3
993,P_7,Region_9,128.51,17.000000,2024-09-20,2024,2184.670000,9,2024Q3
994,P_1,Region_4,95.24,7.000000,2024-09-21,2024,666.680000,9,2024Q3
998,P_2,Region_10,43.44,15.000000,2024-09-25,2024,651.600000,9,2024Q3
999,P_35,Region_8,56.95,6.000000,2024-09-26,2024,341.700000,9,2024Q3

In [538]:
print(df['month_sold'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [543]:
df=df.replace([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12] , ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])
df

,product_sku,region,price_per_unit,units_sold,sale_date,year_sold,sales_revenue,month_sold,quarter_sold
2,P_46,Region_3,20.43,Dec,2022-01-03,2022,245.160000,Jan,2022Q1
3,P_36,Region_1,12.77,Oct,2022-01-04,2022,127.700000,Jan,2022Q1
4,P_17,Region_6,125.69,Jun,2022-01-05,2022,754.140000,Jan,2022Q1
5,P_45,Region_1,8.63,Nov,2022-01-06,2022,94.930000,Jan,2022Q1
6,P_31,Region_3,23.73,Jun,2022-01-07,2022,142.380000,Jan,2022Q1
...,...,...,...,...,...,...,...,...,...
988,P_42,Region_9,240.97,10.048626,2024-09-15,2024,2421.417357,Sep,2024Q3
993,P_7,Region_9,128.51,17.0,2024-09-20,2024,2184.670000,Sep,2024Q3
994,P_1,Region_4,95.24,Jul,2024-09-21,2024,666.680000,Sep,2024Q3
998,P_2,Region_10,43.44,15.0,2024-09-25,2024,651.600000,Sep,2024Q3
999,P_35,Region_8,56.95,Jun,2024-09-26,2024,341.700000,Sep,2024Q3

In [ ]:
p = df.pivot_table(index='region', columns='product_sku', values='units_sold')
p

In [ ]:
p2 = df[(df.region == 'Region_3')].pivot_table(index=['region', 'product_sku'], values=['units_sold', 'price_per_unit'],
                                 aggfunc=np.mean)
p2

In [ ]:
p3 = df[(df.region == 'Region_3')].pivot_table(index='region', columns='product_sku', 
                                               values='sales_revenue')
p3

In [ ]:
t= sns.barplot(data = p3)
t.set_xlabel("X Label",fontsize=2)
t.tick_params(labelsize=1)